<div class="btn-group pull-right">
  <%- if action? :new -%>
    <%%= link_to("New <%= singular_name.titleize %>", <%= item_path :action => :new %>, :class => "btn btn-primary") %>
  <%- end -%>
</div>
<div class="clearfix"></div>
<table class="table table-hover">
  <thead>
    <tr>
      <%- for attribute in model_attributes -%>
        <th><%= attribute.human_name.titleize %></th>
      <%- end %>
    </tr>
  </thead>
  <tbody>
  <%% @<%= instances_name %>.each do |<%= instance_name %>| %>
    <tr>
      <%- for attribute in model_attributes -%>
      <td><%%= <%= instance_name %>.<%= attribute.name %> %></td>
      <%- end -%>
      <td>
        <div class="btn-group">
          <%- if action? :show -%>
            <%%= link_to '조회', <%= item_path %>, :class => "btn" %>
          <%- end -%>
          <%- if action? :edit -%>
            <%%= link_to "수정", <%= item_path :action => :edit %>, :class => "btn btn-warning" %>
          <%- end -%>
          <%- if action? :destroy -%>
            <%%= link_to "삭제", <%= item_path %>, :confirm => "정말 삭제 하시겠습니까?", :method => :delete, :class => "btn btn-danger" %>
          <%- end -%>
        </div>
      </td>
    </tr>
  <%% end %>
  </tbody>
</table>